<div class="card mb-1 small p-0">
    <div class="card-body">
        <h5 class="card-title">{{savingPlan.savingCycle}}, {{savingPlan.strategy}}</h5>
        <p class="card-text h6">Target amount: {{savingPlan.target}}</p>
        <p class="card-text my-0">Starting amount: <span class="text-muted">ksh. {{savingPlan.amount}}</span></p>
        <p class="card-text my-0">Target amount: <span class="text-muted"> {{savingPlan.target}} </span></p>
        <p class="card-text"><small class="text-muted">{{savingPlan.startdate?.toDateString()}} - </small></p>
    </div>
</div>