<h5 mat-dialog-content class="card-title text-center fw-bold  fs-5">Sign In</h5>

<div mat-dialog-content class="card border-0 shadow rounded-3">
    <div class="card-body">

        <form [formGroup]="loginForm" (submit)="signIn()">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="username"
                    formControlName="username" required>
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="password"
                    formControlName="password" required>
                <label for="floatingPassword">Password</label>
            </div>
            <div class="d-grid">
                <button class="btn btn-primary text-uppercase btn-sm w-100 fw-bold" type="submit">Sign in</button>
            </div>
        </form>
    </div>
</div>