h1 {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.title h1 {
    text-transform: uppercase;
}

.card {
    margin: 10px auto;
    padding: 15px;
    border-radius: 20px;
    background-color: azure;
    transition: 0.5s;
}

.card .card-title {
    text-transform: uppercase;
    font-weight: 500;
}

.card hr {
    background-color: burlywood;
    margin-top: 0px;
}