<div class="row my-4">
    <div class="col col-md-5 col-sm-12">
        <div class="title">
            <h1>Akiba Plus</h1>
        </div>

        <div class="card" *ngIf="!savingPlans">
            <h5>What is akiba plus?</h5>
            <hr>
            <h6>Akiba plus helps you take your savings to the next level!</h6>

            <p>In our innovative savings model, you enjoy unparalleled <strong> flexibility </strong> to <strong>
                    customize </strong> your <strong>savings plans</strong> based on your preferences and financial
                aspirations.
            </p>
            <p> Whether opting for a normal or more dynamic aggressive strategy, you can specify a fixed amount you wish
                to save daily, weekly, bi-weekly, or monthly. </p>
            <h5>Aggressive strategy</h5>
            <p>With the aggressive strategy, savings amount multiplies by the corresponding day, week, or month. This
                feature allows you to witness accelerated growth in your savings, providing a unique and dynamic
                approach to reaching your financial goals.</p>
            <p>Try out the comprehensive calculator to to plan and achieve your desired financial outcomes.
            </p>
            <hr>
        </div>


        <div *ngIf="savingPlans" class="card-text">
            <app-saving-plan-list [savingPlans]="savingPlans"></app-saving-plan-list>
        </div>

    </div>
    <div class="col col-md-7 col-sm-12 mb-2">
        <app-calculator (planAdded)="onPlanAdded"></app-calculator>
    </div>
</div>