<div class="row">
    <div class="col col-md-6 col-sm-12 mb-2">

        <div class="card-header bg-success text-white">
            <p class="h6">Welcome</p>
        </div>

        <div class="card-body">
            <div *ngIf="savingPlans.length === 0">
                <h5>What is akiba plus?</h5>
                <p>Akiba plus helps you take control of your financial goals through savings through a more
                    achievable approach using appropriate tarrifs</p>
                <p>Available tarrifs are:</p>
                <ul class="fa-ul">
                    <li *ngFor="let tarrif of tarrifs"><i class="fas fa-check"></i>{{tarrif}}</li>
                </ul>
                <p>Try out our calculator on this page</p>
            </div>


            <div class="card-text">
                <app-saving-plan-list [savingPlans]="savingPlans"></app-saving-plan-list>
            </div>


        </div>

    </div>
    <div class="col col-md-6 col-sm-12 mb-2">
        <app-calculator></app-calculator>
    </div>
</div>