<div class="card">
    <div class="card-header bg-primary text-white">
        <p class="h5 card-title">Calculator</p>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col col-md-6 col-sm-12 ">
                <form [formGroup]="calcForm" (ngSubmit)="calculate()">
                    <div class="form-floating mb-3">
                        <label for="floatingInput">Select tarrif:</label> <br>
                        <select formControlName="tarrif" name="tarrif" style="width: 100%;">
                            <option *ngFor="let tarrif of tarrifs" class="form-control" [value]="tarrif">
                                {{tarrif}}</option>
                        </select>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" formControlName="amount">
                        <label for="floatingInput">Amount</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" formControlName="duration">
                        <label for="floatingInput">Duration</label>
                    </div>
                    <div class="form-floating mb-3">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="" id="" value=""
                                    [checked]="aggressive" (click)="toggleStrategy()">
                                Aggressive?
                            </label>
                        </div>

                    </div>
                    <div class="rpw">
                        <div class="col-12 w-100 m-1">
                            <button class="btn w-100 btn-sm btn-primary " type="submit">Calculate</button>
                        </div>
                        <div *ngIf="savingPlan" class="col-12 w-100 m-1">
                            <button class="btn w-100 btn-sm btn-dark " type="reset" (click)="reset()">Reset</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col col-md-6 col-sm-12">

                <ul class="fa-ul">
                    <li>Tarrif: <span class="text-muted">{{savingPlan?.savingCycle}}</span></li>
                    <li>Duration: <span class="text-muted">{{savingPlan?.duration}}</span></li>
                    <li>Saving amount: <span class="text-muted">{{savingPlan?.amount}}</span></li>
                    <li>Strategy: <span class="text-muted">{{savingPlan?.strategy}}</span></li>
                    <br>

                    <li class="h6">Target: <span class="text-muted">{{savingPlan?.target}}</span></li>

                </ul>

                <div *ngIf="savingPlan" class="col-12 py-4">
                    <button class="btn btn-warning w-100" (click)="createPlan()">Create plan</button>
                </div>

            </div>
        </div>
    </div>
</div>