<div class="row">
    <div class="col col-4">
        <div class="card mb-1 small p-0">
            <div class="card-header small bg-dark text-white py-0 pt-1">
                <h5 class="card-title">{{savingPlan?.savingCycle}}, {{savingPlan?.savingStrategy}}</h5>
            </div>
            <div class="card-body small p-1">
                <p class="card-text h6">Target amount: {{savingPlan?.target}}</p>
                <p class="card-text my-0">Starting amount: <span class="text-muted">ksh. {{savingPlan?.amount}}</span>
                </p>
                <p class="card-text my-0">Target amount: <span class="text-muted"> {{savingPlan?.target}} </span></p>
                <p class="card-text"><small class="text-muted">{{savingPlan?.startdate?.toDateString()}} - </small></p>
            </div>
        </div>
    </div>
</div>