body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('../src/assets/bg-photo.jpg') no-repeat fixed, linear-gradient(-134deg, #0cee90 0%, #064b45 100%);
    backdrop-filter: blur(10px);
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;

    background-size: cover;
    -o-background-size: cover;
}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}