<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Classes & streams</h1>

</div>


<div class="row">
    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
            <div class="card-header justify-content-between d-sm-flex">

                <div><i class="fas fa-table me-1"></i>
                    Classes
                </div>

                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal"
                    data-target="#new_account_modal"><i class="fas fa-user-graduate fa-sm text-white-50"></i> Create new
                    Stream</a>
            </div>
            <div class="card-body">
                <table class="table table-stripped table-hover table-bordered table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Form</th>
                            <th scope="col">Stream</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let stream of streamsList; index as i">
                            <th scope="row">{{i+1}}</th>
                            <td>{{stream.form}}</td>
                            <td>{{stream.name}}</td>
                            <td><button [routerLink]="['/classes', stream.id]"
                                    class="btn btn-sm btn-primary">View</button></td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>